# --- SECURITY & CONFIG ---
# Ignore the environment file with your MySQL passwords
.env
*.env

# --- PYTHON & JUPYTER ---
# Virtual environments (the massive folder of library files)
.venv/
venv/
env/
# Python cache files
__pycache__/
*.py[cod]
# Jupyter autosave checkpoints
.ipynb_checkpoints/

# --- DATA & LARGE FILES ---
# Raw CSVs too large for GitHub
Data/raw/*.csv
# Power BI temporary files
*.pbix.bak
*.pbix

# --- DATABASE ---
# MySQL backup files
*.sql.bak

# --- OS JUNK ---
.DS_Store
Thumbs.db

#Personal notes and scratch files
Docs/business_insights.ipynb
Power_BI/Dashboard*
